/* * {
    color: blueviolet;
} */
h1 {
    color: purple;
}
h2 {
    color: purple;
}
a {
    color: black;
}

body 
{
    background-color: darkkhaki;
}

#star {
    color: purple;
}
#back {
    color: black;
}
.line {
    width: 100%;
    height: 1px;
    background-color: black;
}
h3 {
    color: purple;
}